<p id="notice"><%= notice %></p>

<h1>Postal Codes</h1>

<table>
  <thead>
    <tr>
      <th>Postal code</th>
      <th>State</th>
      <th>Country</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postal_codes.each do |postal_code| %>
      <tr>
        <td><%= postal_code.postal_code %></td>
        <td><%= postal_code.state %></td>
        <td><%= postal_code.country %></td>
        <td><%= postal_code.longitude %></td>
        <td><%= postal_code.latitude %></td>
        <td><%= postal_code.city %></td>
        <td><%= link_to 'Show', postal_code %></td>
        <td><%= link_to 'Edit', edit_postal_code_path(postal_code) %></td>
        <td><%= link_to 'Destroy', postal_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postal Code', new_postal_code_path %>
